<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>S</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <style>

    </style>
</head>
<body>
<!-- Header -->
<div th:replace="header :: header"></div>
<div class="main-container container">
    <div class="row">
        <div class="col-md-offset-5 col-md-2">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <p class="inscription-lg">Welcome!</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>