<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Users CRUD - Hibernate, Spring-Boot, Thymeleaf, H2</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
</head>
<body th:object="${users}">
<div th:replace="header :: header"></div>
<div class="main-container container">
    <div class="panel panel-default">
        <div class="panel-heading inscription-normal">List of users
            <form class="form-inline" th:action="@{/users/view/add}" method="get">
                <button type="submit" class="btn btn-success">Add user</button>
            </form>
        </div>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Last name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Pesel</th>
                <th>City</th>
                <th>Street</th>
                <th>Home number</th>
                <th>Postal Code</th>
                <th>Action</th>
            </tr>
            <tr th:each="user:${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.phone}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.pesel}"></td>
                <td th:text="${user.address.city}"></td>
                <td th:text="${user.address.street}"></td>
                <td th:text="${user.address.homeNumber}"></td>
                <td th:text="${user.address.postalCode}"></td>
                <td>
                    <form class="form-inline" th:action="@{/users/view/edit/{id}(id=${user.id})}" method="get">
                        <button type="submit" class="btn btn-warning btn-sm">Edit</button>
                    </form>
                    <form class="form-inline" th:action="@{/users/delete/{id}(id=${user.id})}" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>